.title {
  background-color: white;
  font-family: arial;
  padding: 5px;
  text-align: left;
  color: indigo;
  height: 2s;
  line-height: 30px;
  text-shadow: -1px 1px 1px pink;
}
h2 {
  text-align: center;
  font-family: arial;
    text-shadow: 1px 1px black;
  color: white;
}
h3 {
  text-align: center;
  font-family: arial;
  color: indigo;
    text-shadow: 1px 1px grey;
}
a {
  color: indigo;
}
a:visited {
  color: purple;
}
video{
  padding-top: 0px;
}
.vid {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border: 2px indigo;
  color: indigo;
  font-family: arial;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8); /* the rgba colour means that the opacity of the background can also be changed. this is better than just setting the transparency of the whole element, as that would cause the text and images etc to also be see through*/
  text-shadow: 1px 1px white;

}
.latestsong {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border: 2px indigo;
  color: indigo;
  font-family: arial;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px white;
}
.latestep {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border: 2px indigo;
  color: indigo;
  font-family: arial;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px white;
}
.topbutton {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 99;
  background: rgba(165, 55, 253, 0.9);
  color: white;
  text-shadow: 1px 1px black;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  outline: none;
  box-shadow: 1px 2px black;
}
footer {
  background-color: white;
  font-family: arial;
  padding-top: 20px;
  padding: 10px;
  text-align: right;
  color: indigo;
  text-shadow: 1px 1px grey;
  }
body {
  background-image: url(../img/tjhbg.jpg);
  background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #9733FF;
}
@media (max-width: 800px) {
  body {
    margin: 0;
    background-attachment: fixed;
  }
  

}
.about {
  text-align: justify;
  padding: 20px;
  color: white;
  font-family: arial;
  padding-top: 0px;
  text-shadow: 1px 1px black;
}
.clickalb {
  text-align: center;
  padding: 20px;
  color: white;
  font-family: arial;
  padding-top: 0px;
  text-shadow: 1px 1px black;
}
.songquestion {
  color: white;
  padding: 10px;
  background-color: indigo;
  border: 2px white solid;
    border-radius: 10px;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: arial;
  text-shadow: 1px 1px black;
  float: center;
}
.button {
  background-color: purple;
  color: pink;
}
.logo {
  text-align: center;
  padding: 20px;

}
.answer {
  font-family: arial;
  text-align: center;
    text-shadow: 1px 1px black;
}
.sidepanel {
  height: 250px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(indigo, purple);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  opacity: 80%;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: arial;
}
.sidepanel a:hover {
  color: pink;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: indigo;
  color: white;
  padding: 10px 15px;
  width: 25%;
  border: none;
  font-family: arial;
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
  background-position: center;
}

.openbtn:hover {
  background-color: purple;
}

.row {
margin: auto;
  display: flex;
  flex-direction: row;
}
.image1 {
  box-shadow: 5px 5px 5px grey;
}
.socialicons {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}
.fa {
  padding: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: white;
  color: purple;
  margin: 5px;
  font-size: 3em;
}
.fa-twitter {
  background: white;
  color: purple;
    margin: 5px;
}
.fa-youtube {
  background: white;
  color: purple;
    margin: 5px;
}

.fa-instagram {
  background: white;
  color: purple;
    margin: 5px;
}
.pagetitle {
  text-align: center;
  font-family: arial;
    text-shadow: 1px 1px black;
  color: white;
}
.row1 {
  display: flex;
  flex-direction: row;
  text-align: justify;
  align-items: center;
}
.row2 {
  display: flex;
  flex-direction: row-reverse;
  text-align: justify;
  align-items: center;
}
.albumimg {
  margin: 7px;
  box-shadow: 5px 5px 5px grey;
  width: 35%;
  flex: 35%;
  max-height: 130px;
  max-width: 130px;
}
.albumtext {
  width: 50%;
  flex: 50%;
  margin: 7px;
  line-height: 95%;
}
.album {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border: 2px indigo;
  color: indigo;
  font-family: arial;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px white;
}

.dropbtn {
  background-color: indigo;
  color: white;
  padding: 5px;
  font-size: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: rgba(165, 55, 253, 0.8);
  border: none;
}

.show {display:block;}

.albums {
  display: flex;
  flex-direction: column;
}

.popup {
  width: 80%;
  background-color: rgba(165, 55, 253, 0.95);
  border-radius: 25px;
  border: 2px white;
  color: white;
  text-shadow: 1px 1px black;
  font-family: arial;
  position: fixed;
  top: 0;
  padding: 5%;
  display: none;
  text-align: center;
  top: 30%;
  left: 6%;
}
.popup .inside {
  padding: 2%;
}
.closeBtn {
  font-family: arial;
  color: white;
  float: right;
  background-color: indigo;
  border: none;
  outline: none;
}

.tourimg {
  margin: 7px;
  box-shadow: 5px 5px 5px grey;
  width: 35%;
  flex: 35%;
  max-height: 130px;
  max-width: 130px;
}
.tourtext {
  width: 50%;
  flex: 50%;
  margin: 7px;
  line-height: 95%;
}
.tour {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border: 2px indigo;
  color: indigo;
  font-family: arial;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px white;
}
